/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* btn */
.btn {
  font-size: 18px;
  font-weight: 900;
  padding: 15px 0;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #42940F;
  color: #42940F;
  background-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #42940F;
}

.btn:active {
  color: #fff;
  border: 2px solid #1F5200;
  background-color: #1F5200;
}

.btn:disabled {
  color: #fff;
  border: 1px solid #4E4E4E;
  background-color: #4E4E4E;
}

/* tags */
.tag {
  padding: 2px 16px;
  border-radius: 8px;
}

.new {
  background-color: #FDCFF3;
}

.low-stock {
  background: #FFCF56;
}

/* main */
.container {
  padding: 0 20px;
}

.main-title {
  margin: 40px 0;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}

.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  background-color: #fff;
  width: 380px;
  height: 480px;
  border-radius: 12px;
  box-shadow: 2px 2px 25px 10px rgba(34, 60, 80, 0.2);
}

.card:nth-child(2) {
  margin: 0 20px;
}

.card .card__tags {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 5;
}

.card .card__tags .tag:first-child {
  margin-right: 15px;
}

.card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card .card__info {
  padding: 24px;
  height: calc(100% - 214px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card__descr {
  color: #2F2F2F;
}

.card .card__title {
  margin-bottom: 16px;
  font-weight: 900;
  font-size: 24px;
}

@media (max-width: 1240px) {
  .btn {
    font-size: 14px;
    padding: 10px 0;
  }

  .tag {
    font-size: 12px;
  }

  .img img {
    width: 280px;
    height: 150px;
  }

  /* main */
  .container {
    padding-bottom: 20px;
  }

  .main-title {
    font-size: 32px;
    margin: 20px 0;
  }

  .product-cards {
    flex-direction: column;
  }
  .card {
    width: 280px;
    height: 420px;
  }
  .card:nth-child(2) {
    margin: 20px 0;
  }
  .card .card__tags .tag:first-child {
    margin-right: 10px;
  }
  .card .card__info {
    height: calc(100% - 150px);
  }
  .card .card__title {
    margin-bottom: 12px;
    font-size: 20px;
  }
}